{% extends "base_generic.html" %}

{% block title %}<title>{{ cuenta.name_cuenta }}</title>{% endblock %}
{% block content %}
    <div class="row container p-3">
        <div class="col-2">
            <div class="nav flex-column nav-pills nav-dark" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Descripción</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Graficos</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Tablas</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Glosario</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content container" id="v-pills-tabContent">
                <div class="tab-pane fade show active container" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    <h1>{{ cuenta.name_cuenta }} - {% if cuenta.status_cuenta %}<span class="badge badge-primary">  Activo </span>{% else %}<span class="badge badge-danger">  Inactivo </span>{% endif %}</h1>
                    <p>{{ cuenta.description_cuenta }}</p>

                </div>
                <div class="tab-pane fade container" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <!-- Graficos -->
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Ventas</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Predicción</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">EQMÁS</a>
                      </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Aqui van los resumenes de cuentas.</div>
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                    </div>
                    <!-- Fin Graficos -->
                </div>
                <div class="tab-pane fade container" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Aqui va otros graficos</div>
                <div class="tab-pane fade container" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Aqui va los glosarios</div>
            </div>
        </div>
    </div>
{% endblock %}